.about {
    width: 84vw;
    height: auto;
    background-color: var(--white);
    margin: 0 auto;
    border-radius: 52px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 10px;
    padding: 54px 62px;
    position: relative;
  }
  
  .aboutDescription {
    margin-top: 25px;
    margin-right: 60px;
  }
  
  .titleWrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
  }
  
  .highlight2 {
    position: absolute;
    top: 140px;
    left: -10px;
    width: 94.4%;
    height: auto;
    z-index: 0;
  }

  .decoration2{
    position: absolute;
    top: 280px; 
    right: 75px; 
    z-index: 0; 
    width: 23.5%; 
    height: auto;
}
  
  .textpresent {
    position: relative;
    z-index: 2;
  }

  .aboutcontainerright{
    display: flex;
    flex-direction: column;
    gap: 5.5em;
  }

  .containerGridAbout {
    width: 100%;
  }