 /*---        About Grid          ---*/
  
 .gridAbout {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 72px;    
    margin-right: 10px;
  }
  
  .gridAbout .groupCard {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50px 100px 100px 140px 130px 90px 150px 100px; 
    grid-column-gap: 17px;
    grid-row-gap: 25px;
    width: fit-content;
  }
  
  
  .gridAbout .card1 {
    width: 373px;
    height: auto;
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--background);
  }
  
  .gridAbout .card2 {
    grid-area: 1 / 2 / 5 / 3;
    width: 373px;
    height: auto;
    background-color: #bcfcdc;

  }
  
  .gridAbout .card3 {
    grid-area: 6 / 1 / 9 / 2;
    width: 373px;
    height: auto;
    background-color: #000;
    color: #fff;
  }
  
  .gridAbout .card4 {
    grid-area: 5 / 2 / 9 / 3;
    background-color: #00ff7f;
    width: 373px;
    height: auto;
    background-color: #00ff7f;
  }
  
  .gridAbout .card {
    border-radius:58px;
    padding: 30px;
  }


  /* Card 1*/

  .gridAbout .card1 {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .userprofile{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .rotarprofile{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .gridAbout .user{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 17px;
    font-size: 22.5px;
    font-weight: 400;
  }
  
  .gridAbout .user .ellipse{
    background-image: url('../../assets/images/user.jpg');
    background-size: cover;
    background-position: center;
  }

  .gridAbout .card1 .message{
    width: 61%;
    margin-left: auto;
    padding: 20px 18px ; 
    background-color: var(--primary);
    border-radius: 5.47px;
    color: var(--black);
    font-size: 17px;
    text-align: center;
  }


  .gridAbout .rotar{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 17px;
    font-size: 22.5px;
    font-weight: 400;
  }

  .gridAbout .rotar .ellipse{
    background-image: url('../../assets/icons/rotar.png');
    background-size: 64%;
    background-repeat: no-repeat;
    background-position: center;
  }
  

  .gridAbout .textContainer {
    margin-bottom: 24px;
  }
  
  .gridAbout .card1 .title {
    font-size: 33.5px;
    color: var(--black);
    margin: 0px;
    margin-bottom: 4px;
    line-height: 1.2;
  }
  
  .gridAbout .card1 .description {
    padding-right: 10px;
    font-size: 24px;
    line-height: 1.4;
  }
  



  /* Card 2*/

  .gridAbout .illustrationBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .gridAbout .bubbleChat {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .gridAbout .profile {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .gridAbout .ellipse {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--black);
  }
  
  .gridAbout .response {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .gridAbout .robotProfile {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .gridAbout .robotMessage {
    padding: 24px 22px;
    background-color: #fff;
    border-radius: 5.5px;
    color: #5f5f5f;
    font-size: 17px;
    line-height: 1.4;
  }
  
  
  
  .gridAbout .chatContainer {
    margin-top: 24px;
  }
  
  .gridAbout .chat {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .gridAbout .messageBox {
    width: 113px;
    height: 23px;
    border-radius: 100px;
    background-color: #f0f0f0;
  }
  
  .gridAbout .messageLine {
    width: 229px;
    height: 23px;
    border-radius: 100px;
    background-color: #f0f0f0;
    margin-top: 12px;
  }
  
  .gridAbout .pieChart {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }
  
  .gridAbout .chart {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background-color: #fff;
  }
  
  