@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 
 /*---        About Grid          ---*/
  
 .gridAbout {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 72px;    
    margin-right: 10px;
  }
  
  .gridAbout .groupCard {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 50px 100px 100px 140px 130px 90px 150px 100px; 
    grid-column-gap: 17px;
    grid-row-gap: 25px;
    width: fit-content;
  }
  
  
  .gridAbout .card1 {
    width: 373px;
    height: auto;
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--background);
  }
  
  .gridAbout .card2 {
    grid-area: 1 / 2 / 5 / 3;
    width: 373px;
    height: auto;
    background-color: var(--secondary);

  }
  
  .gridAbout .card3 {
    grid-area: 6 / 1 / 9 / 2;
    width: 373px;
    height: auto;
    background-color: var(--black);
    color: #fff;
  }
  
  .gridAbout .card4 {
    grid-area: 5 / 2 / 9 / 3;
    background-color: var(--primary);
    width: 373px;
    height: auto;
  }
  
  .gridAbout .card {
    border-radius:54px;
    padding: 30px;
  }

  .gridAbout  .title {
    font-size: 33.8px;
    color: var(--black);
    font-weight: 600;
    margin: 0px;
    margin-bottom: 4px;
    line-height: 1.2;
  }
  
  .gridAbout .description {
    font-size: 23.75px;
    line-height: 1.4;
  }


  /* Card 1*/

  .gridAbout .card1 .description {
    padding-right: 10px;
  }

  .gridAbout .card1 {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .userprofile{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .rotarprofile{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .gridAbout .user{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 17px;
    font-size: 22.5px;
    font-weight: 400;
  }
  
  .gridAbout .user .ellipse{
    background-image: url('../../assets/images/user.jpg');
    background-size: cover;
    background-position: center;
  }

  .gridAbout .card1 .message{
    width: 61%;
    margin-left: auto;
    padding: 20px 18px ; 
    background-color: var(--primary);
    border-radius: 5.47px;
    color: var(--black);
    font-size: 17px;
    text-align: center;
  }


  .gridAbout .rotar{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 17px;
    font-size: 22.5px;
    font-weight: 400;
  }

  .gridAbout .rotar .ellipse{
    background-image: url('../../assets/icons/rotar.png');
    background-size: 64%;
    background-repeat: no-repeat;
    background-position: center;
  }
  

  .gridAbout .textContainer {
    margin-bottom: 24px;
  }
  

  .gridAbout .illustrationBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .gridAbout .bubbleChat {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .gridAbout .profile {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .gridAbout .ellipse {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--black);
  }
  
  .gridAbout .response {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .gridAbout .robotProfile {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .gridAbout .robotMessage {
    padding: 24px 22px;
    background-color: #fff;
    border-radius: 5.5px;
    color: #5f5f5f;
    font-size: 17px;
    line-height: 1.4;
  }
  

  

  /* Card 2*/
  

  .card2 .textContainer{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  
  .card2 .chatWrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 91%;
  }
  
  .card2 .chatPreview {
    background: var(--white);
    border-radius: 14px;
    padding: 16px;
    box-shadow: 0 4px 10px #efefef2c;
    width: 100%;
    max-width: 400px;
  }
  
  .card2 .chatTop {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
  }
  
  .card2 .ellipse {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--white);
  }
  
  .card2 .ellipse img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card2 .chatLineShort {
    height: 30px;
    width: 165px;
    background: var(--background);
    border-radius: 20px;
  }
  
  .card2 .chatLineFull {
    height: 30px;
    width: 92%;
    background: var(--background);
    border-radius: 20px;
  }

  .card2 .chatPreviewWrapper {
    position: relative;
  }
  
  
  .card2 .chatPreviewWrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%;
    height: 50px;
    background: linear-gradient(to top, #BCFCDC, rgba(255, 255, 255, 0));
    border-radius: 0 0 14px 14px;
    z-index: 2;
    pointer-events: none;
  }
  

  
  /* Card 3*/
  
  .gridAbout .card3 .title {
    color: var(--white);
    margin-bottom: 4px;
    line-height: 1.2;
  }
  
  .gridAbout .card3 .description {
    color: var(--white);
    font-size: 23.78px;
    line-height: 1.4;
  }

  .card3 .illustrations {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 24px;
  }
  
  .card3 .iconWrapper {
    position: absolute;
  }
  
  .card3 .icon {
    background-color: #383838;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card3 .iconTopLeft .icon{  
    width: 70px;
    height: 70px;
  }

  .card3 .iconTopRight .icon{  
    width: 65px;
    height: 65px;
  }

  .card3  .iconCenter.icon{  
    width: 80px;
    height: 80px;
  }

  .card3 .iconBottomLeft .icon{  
    width: 68px;
    height: 68px;
  }

  .card3 .iconBottomRight .icon{  
    width: 62px;
    height: 62px;
  }

 
  .card3 .iconTopLeft {
    top: 0;
    left: -82px;
  }
  
  .card3 .iconTopRight {
    top: 0;
    right: -86px;
  }
  
  .card3 .iconCenter {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card3 .iconBottomLeft {
    bottom: 40px;
    left: -40px;
  }
  
  .card3 .iconBottomRight {
    bottom:  50px;
    right: -40px;
  }
  

  .card3 .icon img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
  

  .card3 .iconCenter .icon {
    width: 85px;
    height: 85px;
  }
  
  .card3 .iconCenter .icon img {
    width: 65%;
    height: 65%;
  }
  

  @keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
  
  .floatWrapper {
    animation: floatUpDown 4s ease-in-out infinite;
    transition: transform 0.3s ease;
  }
  

    /* Card 4*/

    .card4 .textContainer{
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  

    .card4 .chartContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 20px;
    }
    
    .card4 .chartCircle {
      width: 240px;
      height: 240px;
      margin-bottom:12px;
      position: relative;
    }
    
    .card4 .chartCircle .CircularProgressbar {
      width: 100%;
      height: 100%;
    }
    
    .card4 .chartLabel {
      position: absolute;
      top: 52%;
      left: 50%;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      line-height: 160%;
      font-weight: 700;
      transform: translate(-50%, 30%); 
      font-size: 15.2px;
      text-align: center;
      color: var(--black);
      pointer-events: none;
    }
    

    